<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<contextName>ASKSG</contextName>
	<!-- appenders -->
	<appender name="hibernateFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/hibernate.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss}, %p, %c, %t, %M %m%n</pattern>
		</encoder>
	</appender>

	<appender name="springFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/spring.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss}, %p, %c, %t, %M %m%n</pattern>
		</encoder>
	</appender>

	<appender name="asksgFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>TRACE</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/asksg.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss}, %p, %c, %t, %M %m%n</pattern>
		</encoder>
	</appender>

	<appender name="asksgErrorFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/asksg.error.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss}, %p, %c, %t, %L, %M %m%n</pattern>
		</encoder>
	</appender>

	<appender name="errorFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/error.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss}, %p, %c, %t, %L, %M %m%n</pattern>
		</encoder>
	</appender>

	<appender name="allFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/all.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss}, %p, %c, %t, %M %m%n</pattern>
		</encoder>
	</appender>

	<appender name="rootConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss}, %p, %c, %t, %M %m%n</pattern>
		</encoder>
	</appender>

	<!-- loggers -->
	<logger name="org.hibernate">
		<appender-ref ref="hibernateFileAppender"/>
	</logger>

	<logger name="edu.rit.asksg">
		<appender-ref ref="asksgFileAppender"/>
		<appender-ref ref="asksgErrorFileAppender"/>
	</logger>

	<logger name="org.springframework">
		<appender-ref ref="springFileAppender"/>
	</logger>

	<root>
		<appender-ref ref="errorFileAppender"/>
		<appender-ref ref="allFileAppender"/>
		<appender-ref ref="rootConsoleAppender"/>
	</root>
</configuration>
