/* =============================================================================
   Custom styles
============================================================================= */

body {
	/*background-color: #F36E21;*/
}

.navbar .navbar-inner {
	background-color: #F36E21;
 	background-image: none;
	padding-top: 10px;
	padding-bottom: 10px;
}

.navbar-inner .container {
	background-color: white;	
	background-image: none;
	padding-left: 20px;
	padding-right: 20px;
	-moz-border-radius: 15px;	
	border-radius: 15px;
}

.navbar-inner .container li {
	color:black;
}

.navbar-inner .container .a:link {
	color:black;
}

.navbar-inner .container .a:hover {
	color:black;
}

.navbar-inner .container .a:visited {
	color:black;
}

.navbar-inner .container .a:active {
	color:black;
}

.convo-well {
	padding-top: 10px;
	padding-bottom: 25px;
}

li.service-menu-item {
	background-color: #0000;
	background-image: none;
}

/*
.nav-list > li > a {
  padding: 5px 15px !important;
}

.nav-list > .active > a, .nav-list > .active > a:hover {
  background-color: #0071cd !important;
}

.navbar .nav.hidden-desktop {
  width: 100%;
  margin: 0 !important;
}

.navbar .nav.hidden-desktop > li:first-child {
  width: 34%;
}

.navbar .nav.hidden-desktop > li {
  padding: 0 !important;
  width: 33%;
}

.navbar .nav.hidden-desktop > li > a {
  text-align: center;
  padding: 10px 0 !important;
}

.navbar .nav > li > a {
  padding: 10px 12px 10px 10px !important;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.2s ease-out; 
     -moz-transition: all 0.2s ease-out; 
       -o-transition: all 0.2s ease-out; 
          transition: all 0.2s ease-out;

}

.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
  padding: 0 !important;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
  background: transparent !important;
  border-bottom: 1px solid whitesmoke;
}

.navbar .nav > li > a:hover {
  border-bottom: 1px solid whitesmoke;
}
*/

/*
.container {
	background-color: white;
}
*/

.inside
{
	-webkit-background-clip: border-box;
	-webkit-background-origin: padding-box;
	-webkit-background-size: auto;
	background-attachment: scroll;
	background-clip: border-box;

	/* replace this with our own stuff */
	background-image: url(https://d2221r371oqwhn.cloudfront.net/assets/dot-line-c6948da940d909cf2b6e3d1e04f646f5.png);

	/* modify inner background here */
	background-color: #fff;


	background-image: none;
	background-origin: padding-box;
	background-size: auto;
	box-sizing: border-box;
	display: block;
	margin-bottom: 0px;
	/*margin-left: 100px;
	margin-right: 100px;*/
	margin-top: 0px;
	/*max-width: 1200px;*/
	padding-bottom: 95px;
	/*padding-left: 100px;
	padding-right: 100px;*/
	padding-top: 95px;
	width: auto; /* 1000px */
}

ul.inside-list
{
	box-sizing: border-box;
	display: block;
	/*height: 1718px;*/
	list-style-type: disc;
	font-size: 20px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	width: auto; /* 800px */
}

.inside-heading
{
	box-sizing: border-box;
	color: #333439;
	display: block;
	height: 100px;
	list-style-type: disc;
	margin-bottom: 100px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 80px;
	padding-right: 80px;
	padding-top: 50px;
	text-align: center;
}

.inside-list-item-info
{
	-webkit-background-clip: border-box;
	-webkit-background-origin: padding-box;
	-webkit-background-size: auto;
	-webkit-border-image: none;
	-webkit-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 8px 8px -6px;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: transparent;
	/*background-image: -webkit-linear-gradient(top, whiteSmoke 0%, white 15%, whiteSmoke 50%, white 85%, whiteSmoke 100%);*/
	background-origin: padding-box;
	background-size: auto;
	border-bottom-color: #F3F3F3;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-left-color: #F3F3F3;
	border-left-style: solid;
	border-left-width: 3px;
	border-right-color: #F3F3F3;
	border-right-style: solid;
	border-right-width: 3px;
	border-top-color: #F3F3F3;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-top-style: solid;
	border-top-width: 3px;
	box-shadow: rgba(0, 0, 0, 0.0980392) 0px 8px 8px -6px;
	box-sizing: border-box;
	display: list-item;
	/*height: 445px;*/
	list-style-type: none;
	margin-bottom: 50px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 60px;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 60px;
	text-align: left;
}

.inside-list-item-space
{
	background-color: transparent;
}

.inside-list-item-lock
{
	background-color: black;
}

#steps
{
	-webkit-background-clip: border-box;
	-webkit-background-origin: padding-box;
	-webkit-background-size: 5px 12px;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: #313237;
	/*background-image: url(https://d2221r371oqwhn.cloudfront.net/assets/dot-line-c6948da940d909cf2b6e3d1e04f646f5.png);*/
	background-origin: padding-box;
	background-size: 5px 12px;
	box-sizing: border-box;
	height: 200px;
	display: block;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 30px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	width: auto;
}

#get-started
{
	-webkit-background-clip: border-box;
	-webkit-background-origin: padding-box;
	-webkit-background-size: auto;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: transparent;

	/*
	background-image: url(https://d2221r371oqwhn.cloudfront.net/assets/texture-bg-35a0e26339e420cbc6737a2633222a8f.png);
	*/

	background-origin: padding-box;
	background-size: auto;
	box-sizing: border-box;
	display: block;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 30px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	width: auto; /* 800px */
}

.step-button
{
	-webkit-background-clip: border-box;
	-webkit-background-origin: padding-box;
	-webkit-background-size: auto;
	-webkit-border-image: none;
	-webkit-box-shadow: #D4D6E2 0px 3px 3px -2px;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: orange;
	/*background-image: -webkit-linear-gradient(top, #659DFA 10%, #588CDA 92%, #68A1FF 100%);*/
	background-origin: padding-box;
	background-size: auto;
	border-bottom-color: #BFCFDA;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-left-color: #BFCFDA;
	border-left-style: solid;
	border-left-width: 3px;
	border-right-color: #BFCFDA;
	border-right-style: solid;
	border-right-width: 3px;
	border-top-color: #BFCFDA;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top-style: solid;
	border-top-width: 3px;
	box-shadow: #D4D6E2 0px 3px 3px -2px;
	box-sizing: border-box;
	color: white;
	cursor: auto;
	display: block;
	height: 72px;
	letter-spacing: 9px;
	margin-bottom: 0px;
	margin-left: 275px;
	margin-right: 275px;
	margin-top: 0px;
	padding-bottom: 22px;
	padding-left: 33px;
	padding-right: 33px;
	padding-top: 22px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 550px;
}

.loginButton
{
	width:300px;
}

/* SIDEBAR STYLES */
.sidebar
{
	-webkit-background-clip: border-box;
	-webkit-background-origin: padding-box;
	-webkit-background-size: auto;
	-webkit-border-image: none;
	-webkit-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 8px 8px -6px;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: transparent;
	/*background-image: -webkit-linear-gradient(top, whiteSmoke 0%, white 15%, whiteSmoke 50%, white 85%, whiteSmoke 100%);*/
	background-origin: padding-box;
	background-size: auto;
	border-bottom-color: #F3F3F3;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-left-color: #F3F3F3;
	border-left-style: solid;
	border-left-width: 3px;
	border-right-color: #F3F3F3;
	border-right-style: solid;
	border-right-width: 3px;
	border-top-color: #F3F3F3;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-top-style: solid;
	border-top-width: 3px;
	box-shadow: rgba(0, 0, 0, 0.0980392) 0px 8px 8px -6px;
	box-sizing: border-box;
	display: list-item;
	/*height: 445px;*/
	list-style-type: none;
	margin-bottom: 50px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	text-align: left;
}

/* CONVERSATION STYLES */

ul.convo-list
{
	box-sizing: border-box;
	display: block;
	/*height: 1718px;*/
	list-style-type: disc;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	width: auto; /* 800px */
}

.convo-list-item-msg
{
	-webkit-background-clip: border-box;
	-webkit-background-origin: padding-box;
	-webkit-background-size: auto;
	-webkit-border-image: none;
	-webkit-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 8px 8px -6px;

	background-attachment: scroll;
	background-clip: border-box;
	background-color: transparent;
	background-origin: padding-box;
	background-size: auto;

	box-shadow: rgba(0, 0, 0, 0.0980392) 0px 8px 8px -6px;
	box-sizing: border-box;
	display: list-item;
	list-style-type: none;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;

	border-bottom-color: #F3F3F3;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-style: solid;
	border-bottom-width: 3px;

	text-align: left;
}

.convo-list-item-space
{
	background-color: transparent;
}

#conversationSearch
{
	padding-top: 5px;
	padding-bottom: 20px;
}

.responseForm
{
	padding-top: 10px;
	padding-bottom: 10px;
}

/* For the service bar */
li.active {
	color:black;
}

/*.well {  
	background-image: url('/twitter-bootstrap/images/gridbg.gif');  
	background-repeat:repeat;  
	-webkit-border-radius: 6px;  
	-moz-border-radius: 6px;  
	border-radius: 6px;  
}*/

/*.nav-header {  
	font-size: 20px;  
	color:black;  
} */

