<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" ng-app="ASKSG"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Welcome to ASKSG</title>
    <link rel="icon" href="img/favicon.png"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <style>
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="css/main.css">

    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>

    <!-- Load the angular controller code -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    <!-- ../js/angular/angular.min.js -->
    <script src="./js/asksg.module.js"></script>

    <!-- D3 and wordcloud -->
    <script src="./js/d3.v3.min.js"></script>
    <script src="./js/d3.layout.cloud.js"></script>
    <script src="./js/wordcount.js"></script>

    <!-- login -->
    <script language="javascript">
        function forceHttpsOnSubmit(objForm) {
            console.log("TODO: switch over to HTTPS when the cert is installed...");
            // TODO: drop in this code when SSL cert is up...
            //objForm.action = objForm.action.replace("http:", "https:"); // .replace(":8080",":8443")
        }
    </script>
</head>
<body ng-controller="MainController">

<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
    improve your experience.</p>
<![endif]-->

<div id="fl_menu" class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">ASKSG</a>

            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <!--<li><a href="/students/index.html">Students</a></li>-->
                    <!--<li><a class="scrollToLearnMore" href="#learn-more">Learn More</a></li>-->
                    <li><a data-toggle="modal" href="#loginModal" class="pull-right login-window">Login</a></li>
                </ul>
                <!--<a data-toggle="modal" href="#loginModal" class="btn pull-right login-window">Login</a>-->
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container">

    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
        <h1 style="text-align:center">ASKSG</h1>
        <br/>

        <p style="text-align:center">The RIT community overlay that brings your thoughts and opinions to light.</p>
        <br/>

        <div id="wordcloud" style="text-align:center">
        </div>

        <p style="text-align:center"><a class="btn btn-primary btn-large scrollToLearnMore" href="#learn-more">Learn
            more &darr;</a></p>
    </div>

    <div id="learn-more" class="row-fluid">
        <div class="span12" style="text-align:center">
            <ul class="inside-list">
<!--                 <li id="wordcloud" class="inside-list-item-info" style="text-align:center">
                </li> -->
                <li class="inside-list-item-info">
                    <h3 style="text-align:center">
                        Ask questions that are sent directly to RIT Student Government representatives.
                    </h3>

                    <div style="text-align:center">
                        <img src="img/senator2.JPG"/>
                    </div>
                </li>
                <li class="inside-list-item-info">
                    <h3 style="text-align:center">
                        Post your thoughts and opinions on social media networks like Facebook, Twitter, and Reddit and
                        watch them appear above.
                    </h3>

                    <div style="text-align:center">
                        <img src="img/asksg.png"/>
                    </div>
                </li>
                <li class="inside-list-item-info">
                    <h3 class="text-warning" style="text-align:center">
                        Don't worry, your messages are 100% Private &amp; Confidential. We won't share or persist any of
                        your personal information.
                    </h3>

                    <div style="text-align:center">
                        <img src="img/logo2.png"/>
                    </div>
                </li>
            </ul>
        </div>

        <div class="row-fluid">
            <div class="span12" style="text-align:center">
                <a data-toggle="modal" href="#loginModal" class="btn btn-primary btn-large loginButton">Login</a>
            </div>
        </div>
    </div>

    <div class="modal hide" id="loginModal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">x</button>
            <h3>Login to ASKSG</h3>
        </div>
        <div class="modal-body">
            <form method="POST" action="/asksg/resources/j_spring_security_check" onsubmit="forceHttpsOnSubmit(this)"
                  name="login_form"> <!-- ng-submit="login()" -->
                <p>
                    <input ng-model="localUserName" type="text" class="span3" name="j_username" id="email"
                           placeholder="Username">
                </p>

                <p>
                    <input ng-model="password" type="password" class="span3" name="j_password" placeholder="Password">
                </p>

                <p>
                    <label class="forCheckbox" for='_spring_security_remember_me'>
                        Remember me:
                        <input type='checkbox' name='_spring_security_remember_me'/>
                    </label>
                </p>

                <p>
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </p>
            </form>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; ASKSG</p>
    </footer>

</div>
<!-- /container -->

<!-- le jQuery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.3.min.js"><\/script>')</script>

<!-- le Bootstrap -->
<script src="js/vendor/bootstrap.min.js"></script>

<!-- le prettify script - should this code just be put in main.js? -->
<script src="js/prettify.js"></script>

<script>
    var fill = d3.scale.category20();

    console.log(["Hello", "world", "normally", "you", "want", "more", "words","than", "this"].map(function(d) {
                    return {text: d, size: 10 + Math.random() * 90}}));
//     var td = [
// {
// dates: [
// 1367380800000,
// 1367467200000,
// 1367553600000,
// 1367640000000
// ],
// sentiments: [
// -0.9348889795726976,
// 0.0507938635150087,
// -0.5557725307157653,
// 0.11532326455436892
// ],
// topic: "rit",
// wordCounts: [
// 16,
// 18,
// 16,
// 346
// ]
// },
// {
// dates: [
// 1367380800000,
// 1367467200000,
// 1367553600000,
// 1367640000000
// ],
// sentiments: [
// -0.2523668918012463,
// 0.6764493257714617,
// 0.040223774246402444,
// 0.28536131919524
// ],
// topic: "parking",
// wordCounts: [
// 0,
// 6,
// 0,
// 0
// ]
// },
// {
// dates: [
// 1367380800000,
// 1367467200000,
// 1367553600000,
// 1367640000000
// ],
// sentiments: [
// -0.45422157418471487,
// -0.38591109072455354,
// 0.09015475124344285,
// 0.2857614867782199
// ],
// topic: "debit",
// wordCounts: [
// 0,
// 0,
// 0,
// 0
// ]
// },
// {
// dates: [
// 1367380800000,
// 1367467200000,
// 1367553600000,
// 1367640000000
// ],
// sentiments: [
// -0.19947314880338007,
// 0.4966100406660279,
// 0.7370873263431275,
// 0.09084760774226486
// ],
// topic: "food",
// wordCounts: [
// 0,
// 0,
// 0,
// 2
// ]
// },
// {
// dates: [
// 1367380800000,
// 1367467200000,
// 1367553600000,
// 1367640000000
// ],
// sentiments: [
// -0.6174884575706623,
// 0.01070925765032893,
// 0.8700274722832866,
// 0.5674096826473902
// ],
// topic: "sustainability",
// wordCounts: [
// 0,
// 0,
// 0,
// 2
// ]
// },
// {
// dates: [
// 1367380800000,
// 1367467200000,
// 1367553600000,
// 1367640000000
// ],
// sentiments: [
// -0.1064671579828187,
// -0.19440448652025122,
// 0.7194967976763076,
// -0.43869870724657867
// ],
// topic: "activities",
// wordCounts: [
// 0,
// 0,
// 10,
// 0
// ]
// },
// {
// dates: [
// 1367380800000,
// 1367467200000,
// 1367553600000,
// 1367640000000
// ],
// sentiments: [
// -0.676733897439965,
// -0.5050255539797821,
// -0.9789949430535563,
// 0.4265817905906246
// ],
// topic: "events",
// wordCounts: [
// 0,
// 0,
// 0,
// 0
// ]
// },
// {
// dates: [
// 1367380800000,
// 1367467200000,
// 1367553600000,
// 1367640000000
// ],
// sentiments: [
// -0.9117726462572007,
// -0.6248319915509306,
// -0.3216357441210804,
// -0.36723767242681316
// ],
// topic: "advisors",
// wordCounts: [
// 0,
// 0,
// 25,
// 0
// ]
// },
// {
// dates: [
// 1367380800000,
// 1367467200000,
// 1367553600000,
// 1367640000000
// ],
// sentiments: [
// 0.21794987031780466,
// 0.4607481672157363,
// -0.39706894334990506,
// 0.22048106173008586
// ],
// topic: "academics",
// wordCounts: [
// 0,
// 0,
// 30,
// 0
// ]
// },
// {
// dates: [
// 1367380800000,
// 1367467200000,
// 1367553600000,
// 1367640000000
// ],
// sentiments: [
// -0.39628401273461833,
// -0.7699196875055845,
// 0.4615040687401273,
// -0.17680304723963114
// ],
// topic: "mycourses",
// wordCounts: [
// 0,
// 0,
// 0,
// 0
// ]
// },
// {
// dates: [
// 1367380800000,
// 1367467200000,
// 1367553600000,
// 1367640000000
// ],
// sentiments: [
// 0.6880793785169639,
// -0.9233134694607874,
// -0.5652558205757094,
// -0.2677409933021828
// ],
// topic: "registration",
// wordCounts: [
// 0,
// 0,
// 0,
// 0
// ]
// },
// {
// dates: [
// 1367380800000,
// 1367467200000,
// 1367553600000,
// 1367640000000
// ],
// sentiments: [
// 0.7488025754540206,
// -0.1216446033278189,
// -0.23037385925212672,
// -0.9450283846569765
// ],
// topic: "weather",
// wordCounts: [
// 0,
// 4,
// 0,
// 36
// ]
// },
// {
// dates: [
// 1367380800000,
// 1367467200000,
// 1367553600000,
// 1367640000000
// ],
// sentiments: [
// -0.981273315239291,
// -0.6755599353727011,
// 0.9035698579424312,
// -0.599955803130348
// ],
// topic: "sis",
// wordCounts: [
// 0,
// 0,
// 0,
// 0
// ]
// },
// {
// dates: [
// 1367380800000,
// 1367467200000,
// 1367553600000,
// 1367640000000
// ],
// sentiments: [
// 0.283479350062537,
// 0.6828019109758445,
// 0.24454152844030563,
// 0.7220771138461775
// ],
// topic: "classes",
// wordCounts: [
// 0,
// 2,
// 0,
// 0
// ]
// },
// {
// dates: [
// 1367380800000,
// 1367467200000,
// 1367553600000,
// 1367640000000
// ],
// sentiments: [
// -0.6881812898265864,
// -0.45862688940828567,
// 0.3105548019435722,
// -0.0334969943055623
// ],
// topic: "sg",
// wordCounts: [
// 0,
// 2,
// 100,
// 0
// ]
// },
// {
// dates: [
// 1367380800000,
// 1367467200000,
// 1367553600000,
// 1367640000000
// ],
// sentiments: [
// 0.4988010875601807,
// 0.7253271678930535,
// -0.13635809908560215,
// 0.9786669062395037
// ],
// topic: "housing",
// wordCounts: [
// 10,
// 0,
// 0,
// 0
// ]
// },
// {
// dates: [
// 1367380800000,
// 1367467200000,
// 1367553600000,
// 1367640000000
// ],
// sentiments: [
// 0.4398515230609017,
// 0.06936128109360395,
// -0.08249244515903964,
// 0.7754955455376005
// ],
// topic: "admission",
// wordCounts: [
// 0,
// 0,
// 0,
// 0
// ]
// },
// {
// dates: [
// 1367380800000,
// 1367467200000,
// 1367553600000,
// 1367640000000
// ],
// sentiments: [
// 0.8042054508798411,
// 0.01561073788989531,
// -0.9452836541513772,
// -0.27452918660865944
// ],
// topic: "executives",
// wordCounts: [
// 0,
// 0,
// 0,
// 0
// ]
// },
// {
// dates: [
// 1367380800000,
// 1367467200000,
// 1367553600000,
// 1367640000000
// ],
// sentiments: [
// 0.8390825332764069,
// -0.8887686360544376,
// -0.6415929017148414,
// -0.5576117252306914
// ],
// topic: "co-op",
// wordCounts: [
// 0,
// 0,
// 0,
// 0
// ]
// },
// {
// dates: [
// 1367380800000,
// 1367467200000,
// 1367553600000,
// 1367640000000
// ],
// sentiments: [
// -0.8886579802503987,
// -0.6042993450440974,
// 0.4451674195217128,
// 0.270647563437884
// ],
// topic: "grounds",
// wordCounts: [
// 0,
// 0,
// 0,
// 0
// ]
// },
// {
// dates: [
// 1367380800000,
// 1367467200000,
// 1367553600000,
// 1367640000000
// ],
// sentiments: [
// 0.681261990997408,
// 0.3964049568444219,
// 0.5798418837262376,
// 0.12458675403367758
// ],
// topic: "greek",
// wordCounts: [
// 0,
// 0,
// 0,
// 0
// ]
// },
// {
// dates: [
// 1367380800000,
// 1367467200000,
// 1367553600000,
// 1367640000000
// ],
// sentiments: [
// 0.803472748142632,
// -0.007904838334087172,
// 0.6596892110274652,
// 0.141638229217808
// ],
// topic: "athletics",
// wordCounts: [
// 0,
// 2,
// 0,
// 4
// ]
// }
// ];

        // .words([
        //     "Hello", "world", "normally", "you", "want", "more", "words",
        //     "than", "this"].map(function(d) {
        //         return {text: d, size: 10 + Math.random() * 90};
        // }))

    // Fetch the content and put it in the word cloud
    $.get('/analytics/words', function(data) {
        d3.layout.cloud().size([300, 300])
            .words(stripWordCount(td))
            .rotate(function() { return ~~(Math.random() * 2) * 90; })
            .font("Impact")
            .fontSize(function(d) { return d.size; })
            .on("end", draw)
            .start();
    });

    function draw(words) {
        d3.select("#wordcloud").append("svg")
        .attr("width", 300)
        .attr("height", 300)
        .append("g")
        .attr("transform", "translate(150,150)")
        .selectAll("text")
        .data(words)
        .enter().append("text")
        .style("font-size", function(d) { return d.size + "px"; })
        .style("font-family", "Impact")
        .style("fill", function(d, i) { return fill(i); })
        .attr("text-anchor", "middle")
        .attr("transform", function(d) {
            return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
        })
        .text(function(d) { return d.text; });
    }
</script>

<!-- le Analytics -->
<script>
    var _gaq = [
        ['_setAccount', 'UA-XXXXX-X'],
        ['_trackPageview']
    ];
    (function (d, t) {
        var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
        g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g, s)
    }(document, 'script'));
</script>
</body>
</html>
